<div class="card border-dark mb-3" style="max-width:50rem;">
    <div class="text-center" style="font-size:xx-small">
        <div class="card-header">@Day</div>
        <div class="card-body">
            <h5 class="card-title"> @MinWeatherData / @MaxWeatherData </h5>
            <p class="card-text">@Summary</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Day { get; set; }
    [Parameter]
    public float MinWeatherData { get; set; }
    [Parameter]
    public float MaxWeatherData { get; set; }
    [Parameter]
    public string Summary { get; set; }
}
